

@media screen and (max-width: 991px) {

    .hero-heading {
        font-size: 3rem;
        text-align: center;
    }

    .orange-button,
    .white-button {
        
        font-size: 0.9rem;
    }

    .package-card-details {
        position: relative;
        top: -5rem;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 50%;
        width: 13rem;
        height: 13rem;
        left: -0.1rem;
    }
}
