@media screen and (max-width: 991px) {

    .hero-heading {
        font-size: 3rem;

    }

    .orange-button,
    .white-button {

        font-size: 0.9rem;
    }

    .img-container img {
        border-radius: 2rem;
        width: 100%;
        height: 100%;
    }

    .package-card-details {
        position: relative;
        top: -5rem;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 50%;
        width: 13rem;
        height: 13rem;
        left: -0.1rem;
    }

    .about-section {
        padding-inline: 0.5rem;
    }

    .image-destination {
        padding-bottom: 1.5rem;
        padding-inline: 0;

    }

    .destinations-image>img {
        border-radius: 10%;
        max-width: 100%;
        height: auto;
        display: block;


    }

    .tour-content {
        display: flex;
        flex-direction: column-reverse;
        padding-inline: 1rem;
        top: 2.7rem;
        padding-bottom: 7rem;


    }

    .tour-right>h1 {
        text-align: center;
    }

    .tour-right>span {
        margin-left: 7rem;
    }

    .tour-details-1 {
        padding-block: 0rem;

    }

    .why-us {
        padding-top: 0;
    }

    .planning-section {
        padding-bottom: 12rem;
    }

    .planning-section-content {
        padding: 0;
        text-align: center;


    }

    .planning-section-content>h1 {
        font-family: "Playfair", serif;
        font-size: 1.5rem;
        font-weight: 700;

    }

    .planning-image {

        position: absolute;
        bottom: -12rem;
        left: 2rem;

    }

    .image-section {
        padding-top: 15rem;
    }

    .package-card img {
        height: 200px;
    }

    .price-badge {
        font-size: 0.85rem;
        padding: 5px 12px;
    }

    .package-card img {
        height: auto;
    }

    .package-card .card-body {
        padding: 1rem;
    }

    .package-heading {

        font-family: "Playfair", serif;
        font-size: 3rem;
    }

    .popular-destination-heading {
        font-size: 1.9rem;
        font-family: "Playfair", serif;
        font-weight: 700;
    }

    .heading {
        font-size: 36px;
    }


    .testing {
        display: flex;
        flex-direction: column-reverse;
        bottom: 2rem;

    }

    .overlay {
        padding-top: 23rem;
        padding-inline: 2.5rem;
    }

    .about-title {
        font-size: 2rem;
    }
}