@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lato {
    font-family: "Lato", sans-serif;

}

.playfair {
    font-family: "Playfair", serif;

}

.first-section {
    background-image: url("assests/bootstrap/images/home-hero.jpg");
    /* height: 100vh; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

}

.first-section::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0.5;
    background-color: rgba(0, 0, 0);
}

.btn-style {
    background-color: RGB(255, 110, 14);
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    padding-inline: 10px;
    padding-block: 5px;
}

.header-content {
    position: relative;
    z-index: 1;
    color: white;
    padding-block: 30px;
}

.p1 {
    font-size: 4.5rem;
    color: white;
    font-weight: 800;
}

.orange-button {

    background-color: RGB(255, 110, 14);
    border: none;
    border-radius: 0.5rem;
    padding-inline: 2rem;
    font-size: 1.2rem;
    padding-block: 0.95rem;
    color: rgb(255, 255, 255);
}

.white-button {
    background-color: white;
    opacity: 0.5;

    border: none;
    border-radius: 0.5rem;
    padding-inline: 2rem;
    font-size: 1.2rem;
    padding-block: 0.95rem;
    color: rgb(0, 0, 0);
}


.popular-destination {
    background-color: #fb56071c;
    color: #fb5607;
    text-transform: uppercase;
    padding: 0.5rem 1.7rem;
    font-size: 1rem;
    border-radius: 5rem;

}

.popular-destination-heading {
    font-size: 3.5rem;
    font-weight: 700;
}

.img-container img {
    border-radius: 3rem;
    width: 100%;
    height: auto;
}

.package-card-details {
    position: relative;
    bottom: 6rem;
    left: 4rem;
    background-color: white;
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
}

.star-svg svg {
    fill: orangered;
}

.package-card-details-h3 {
    font-weight: 800;
    font-size: 2rem;
}





.europe svg {

    fill: tomato;
}


.destinations-image>img {

    border: none;
    border-radius: 5.5rem;


}

.image-destination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    

}


.Reviews-section {

    padding-top: 9rem;
    padding-bottom: 3rem;
}

.Reviews-content {

    text-align: center;
}

.Reviews-content>i {
    color: #e94a00;
    font-size: 4rem;
}

.Reviews-content>h1 {
    font-size: 4rem;
    font-family: "Playfair", serif;
    font-weight: 800;
}

.Reviews-content>h4 {
    font-family: "Playfair", serif;
    font-size: 1.5rem;
    font-weight: 600;
}

.planning-section {

    background-color: RGB(251, 86, 7);
    position: relative;
}

.planning-section::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url("assests/bootstrap/images/Travel-50.svg");
    background-position: bottom center;
    background-size: auto;
    background-repeat: no-repeat
}

.planning-section-content {
    padding-inline: 4rem;
    padding-block: 6rem;

}

.planning-section-content>h1 {
    font-family: "Playfair", serif;
    font-size: 4rem;
    font-weight: 700;

}

.planning-image {

    position: absolute;
    bottom: 0rem;
    left: 7.5rem;


}

footer {
    background-color:
        RGB(0, 18, 25);
}

.about-section{
 background-color:RGB(255, 247, 236); 

}
.about-badge {
    display: inline-block;
    padding: 6px 18px;
    border-radius: 50px;
    background-color: white;
    color: #ff7a00;
    font-weight: 600;
    margin-bottom: 15px;
}

.hero-title {
    font-size: clamp(2rem, 4vw, 3.2rem);
    font-weight: 800;
    line-height: 1.2;
}

.hero-text {
    color: #555;
    margin-top: 15px;
}

.check-list li {
    list-style: none;
    margin-bottom: 10px;
    font-weight: 500;
}

.check-list i {
    color: #ff7a00;
    margin-right: 10px;
}

.btn-orange {
    background-color: #ff7a00;
    color: #fff;
    padding: 12px 26px;
    border-radius: 10px;
    font-weight: 600;
}

.btn-orange:hover {
    background-color: #e96c00;
    color: #fff;
}

.video-card {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.video-card img {
    width: 100%;
    height: auto;
    border-radius: 2rem;
}

.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #ececec;
}

.rating img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: -10px;
    border: 2px solid #fff;
}
  .why-us {
      background: 
        linear-gradient(rgba(0,0,0,.45), rgba(0,0,0,.45)),
        url("assests/bootstrap/images/home-tour.jpg") ;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
    }

.tour-content {
    position: relative;
    z-index: 1;
    color: white;
    top: 7rem;
    padding-left: 8rem;


}
.tour-details-1 {
    color: #e94a00;
    font-size: 2rem;
}


/* packages css starts */

.packages-section {
    background-image: url("assests/bootstrap/images/packages-hero.jpg");
    /* height: 100vh; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

}

.packages-section::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0.5;
    background-color: rgba(0, 0, 0);
}
