@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 .lato{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.playfair{
  font-family: "Playfair", serif;
  font-weight: 700;
  font-style: normal;
}
.first-section{
    background-image: url("assests/bootstrap/images/home-hero.jpg");
    /* height: 100vh; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    
}
.first-section::before{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    content:"";
    opacity: 0.4;
    background-color: rgba(0,0,0);
}
.btn-style{
    background-color: RGB(255, 110, 14);
    border: none;
    border-radius: 10px;
    font-weight: 600;
    padding-inline: 10px;
    padding-block: 5px;
}
.header-content{
    position: relative;
    z-index: 1;
    color: white;
    padding-top: 150px;
    padding-bottom: 150px;
}
.p1{
    font-size: 80px;
    color: white;
    font-weight: 700;
}
.orange-button{
    background-color: RGB(255, 110, 14);
    border: none;
    border-radius: 10px;
    font-weight: 600;
    padding-inline: 10px;
    padding-block: 5px;
    color: white;
}
.white-button{
    background-color: white;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    padding-inline: 10px;
    padding-block: 5px;
    color: black;
}