@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lato {
    font-family: "Lato", sans-serif;

}

.playfair {
    font-family: "Playfair", serif;

}

.first-section {
    background-image: url("assests/bootstrap/images/home-hero.jpg");
    /* height: 100vh; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

}

.first-section::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0.5;
    background-color: rgba(0, 0, 0);
}

/* Bootstrap-style orange toggle */
.bg-orange {
    background-color: #ff6a00 !important;
    border-radius: 4px;
}

.orange-color {

    color: orangered;
}

.orange-bgcolor {

    background-color: orangered !important;
}

/* Make hamburger icon white */
.bg-orange .navbar-toggler-icon {
    filter: invert(1);
}

.btn-style {
    background-color: RGB(255, 110, 14);
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    padding-inline: 10px;
    padding-block: 5px;
}

.header-content {
    position: relative;
    z-index: 1;
    color: white;
    padding-block: 30px;
}

.hero-heading {
    font-family: "Playfair", serif;
    font-size: 5rem;
    font-weight: 800;
}

.p1 {
    font-size: 4.5rem;
    color: white;
    font-weight: 800;
}

.orange-button {

    background-color: RGB(255, 110, 14);
    border: none;
    border-radius: 0.5rem;
    padding-inline: 1.2rem;
    font-size: 1.2rem;
    padding-block: 0.95rem;
    color: rgb(255, 255, 255);
}

.white-button {
    background-color: white;
    opacity: 0.5;

    border: none;
    border-radius: 0.5rem;
    padding-inline: 2rem;
    font-size: 1.2rem;
    padding-block: 0.95rem;
    color: rgb(0, 0, 0);
}


.popular-destination {
    background-color: #fb56071c;
    color: #fb5607;
    text-transform: uppercase;
    padding: 0.5rem 1.7rem;
    font-size: 1rem;
    border-radius: 5rem;

}

.popular-destination-heading {
    font-size: 3.5rem;
    font-weight: 700;
}

.img-container img {
    border-radius: 8rem;
    width: 100%;
    height: auto;
}

.package-card-details {
    position: relative;
    bottom: 6rem;
    left: 6rem;
    background-color: white;
    border-radius: 50%;
    height: 16rem;
    width: 16rem;
}

.star-svg svg {
    fill: orangered;
}

.package-card-details-h3 {
    font-weight: 800;
    font-size: 2rem;
}





.europe svg {

    fill: tomato;
}


.destinations-image>img {

    border: none;
    border-radius: 5.5rem;


}

.image-destination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;


}
.home-overlay-dark {
    position: relative;
    overflow: hidden;
    /* margin-top: 3rem; */
    border-radius: 5rem; 
}
.home-overlay-dark::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45); 
    z-index: 1;
}

.home-overlay-dark img {
    object-fit: cover;
    position: relative;
    z-index: 0;
}
.home-card-text {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1.5rem;
    z-index: 3;
    color: white;
}


.Reviews-section {

    padding-top: 9rem;
    padding-bottom: 3rem;
}

.Reviews-content {

    text-align: center;
}

.Reviews-content>i {
    color: #e94a00;
    font-size: 4rem;
}

.Reviews-content>h1 {
    font-size: 4rem;
    font-family: "Playfair", serif;
    font-weight: 800;
}

.Reviews-content>h4 {
    font-family: "Playfair", serif;
    font-size: 1.5rem;
    font-weight: 600;
}

.planning-section {

    background-color: RGB(251, 86, 7);
    position: relative;
}

.planning-section::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url("assests/bootstrap/images/Travel-50.svg");
    background-position: bottom center;
    background-size: auto;
    background-repeat: no-repeat
}

.planning-section-content {
    padding-inline: 4rem;
    padding-block: 6rem;

}

.planning-section-content>h1 {
    font-family: "Playfair", serif;
    font-size: 4rem;
    font-weight: 700;

}

.planning-image {

    position: absolute;
    bottom: 0rem;
    left: 7.5rem;


}

footer {
    background-color:
        RGB(0, 18, 25);
}

.about-section {
    background-color: RGB(255, 247, 236);

}

.about-badge {
    display: inline-block;
    padding: 6px 18px;
    border-radius: 50px;
    background-color: white;
    color: #ff7a00;
    font-weight: 600;
    margin-bottom: 15px;
}

.hero-title {
    font-size: clamp(2rem, 4vw, 3.2rem);
    font-weight: 800;
    line-height: 1.2;
}

.hero-text {
    color: #555;
    margin-top: 15px;
}

.check-list li {
    list-style: none;
    margin-bottom: 10px;
    font-weight: 500;
}

.check-list i {
    color: #ff7a00;
    margin-right: 10px;
}

.btn-orange {
    background-color: #ff7a00;
    color: #fff;
    padding: 12px 26px;
    border-radius: 10px;
    font-weight: 600;
}

.btn-orange:hover {
    background-color: #e96c00;
    color: #fff;
}

.video-card {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.video-card img {
    width: 100%;
    height: auto;
    border-radius: 2rem;
}

.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #ececec;
}

.rating img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: -10px;
    border: 2px solid #fff;
}

.why-us {
    background:
        linear-gradient(rgba(0, 0, 0, .45), rgba(0, 0, 0, .45)),
        url("assests/bootstrap/images/home-tour.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.tour-content {
    position: relative;
    z-index: 1;
    color: white;
    top: 7rem;
    padding-left: 8rem;


}

.tour-details-1 {
    color: #e94a00;
    font-size: 2rem;
}


/* packages css starts */

.packages-section {
    background-image: url("assests/bootstrap/images/packages-hero.jpg");
    /* height: 100vh; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

}

.packages-section::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0.5;
    background-color: rgba(0, 0, 0);
}

/* card css */

.travel-card img {
    height: 220px;
    object-fit: cover;
}

.travel-card {
    transition: 0.3s ease;
}

.travel-card:hover {
    transform: translateY(-6px);
}

.price-badge {
    position: absolute;
    top: 12px;
    right: 12px;
    background: orangered;
    font-size: 0.85rem;
    padding: 6px 12px;
}

.package-heading {

    font-family: "Playfair", serif;
    font-size: 5rem;
    text-align: center;
}

/* contact css starts */

.contact-section {
    background-image: url("assests/bootstrap/images/contact-hero.jpg");
    /* height: 100vh; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

}

.contact-section::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0.5;
    background-color: rgba(0, 0, 0);
}

/* Card container */
.contact-card {
    background: #fffcf4;
    border-radius: 40px;
}

/* Image box */
.image-box {
    height: 100%;
    min-height: 420px;
    border-radius: 2rem;
    background: url("assests/bootstrap/images/explore.jpg") center/cover no-repeat;
    position: relative;
}

.image-box::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    content: "";
    opacity: 0.5;
    background-color: rgba(0, 0, 0);
}

/* Overlay text */
.image-overlay-text {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: white;
    font-size: 3rem;
    font-weight: 600;
    font-family: serif;
}


/* Form controls */
.form-control {
    padding: 12px;
    border-radius: 6px;
}

.contact-form-container {

    position: relative;
    top: -7rem;
}

.contact-left {
    background-color: #ffede0;
    padding: 2rem;
    border-radius: 2rem;
}




.address-card {
    background-color: #fff6ec;
    border-radius: 20px;
    padding: 20px;
}

.icon-circle {
    width: 50px;
    height: 50px;
    background-color: #ff6a00;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-circle i {
    color: #fff;
    font-size: 22px;
}

.about-section-img {
    background-image: url("assests/bootstrap/images/about-hero.jpg");
    /* height: 100vh; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

}

.about-section-img::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0.5;
    background-color: rgba(0, 0, 0);
}


.about-container {

    position: relative;
    top: -12rem;
}

.stats-card {
    background-color: #ffffff;
    border-radius: 4rem;
    padding: 2rem 30px;
    border: 1px solid rgb(187, 187, 187);
}

.icon-box {
    width: 60px;
    height: 60px;
    background-color: #fffbf6;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
}

.icon-box i {
    color: #ff6a00;
    font-size: 26px;
}

.stat-number {
    font-size: 48px;
    font-weight: 700;
}

.stat-text {
    font-size: 16px;
    color: #555;
}

.badge-custom {
    background-color: #ffe9dc;
    color: #ff6a00;
    padding: 8px 18px;
    border-radius: 2rem;
    font-size: 1rem;
    letter-spacing: 1px;
}

.heading {
    font-size: 4rem;
    font-weight: 900;
    line-height: 1.1;
    font-family: "Playfair", serif;
}

.desc {
    color: #555;
    font-size: 16px;
    line-height: 1.8;
}

.happy-users img {

    border-radius: 50%;
    border: 2px solid #fff;
    margin-left: -15px;
}

.travel-img {
    border-radius: 40px;
    width: 100%;
    object-fit: cover;
}

.check-item i {
    color: #ff6a00;
    margin-right: 8px;
}

.about-badge {
    background-color: #ffe9dc;
    color: #ff6a00;
    padding: 8px 18px;
    border-radius: 30px;
    font-size: 13px;
    letter-spacing: 1px;
    display: inline-block;
}

.about-title {
    font-size: 52px;
    font-weight: 700;
    line-height: 1.2;
}

.about-desc {
    font-size: 16px;
    color: #555;
    line-height: 1.8;
}

.about-btn {
    background-color: #ff6a00;
    color: #fff;
    padding: 14px 28px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.about-btn:hover {
    background-color: #e85f00;
    color: #fff;
}

.img-box img {

    object-fit: cover;
    border-radius: 30px;
}



.about-badge {
    background-color: #ffe9dc;
    color: #ff6a00;
    padding: 8px 18px;
    border-radius: 30px;
    font-size: 13px;
    letter-spacing: 1px;
    display: inline-block;
}

.about-title {
    font-size: 52px;
    font-weight: 700;
    line-height: 1.2;
}

.about-desc {
    font-size: 16px;
    color: #555;
    line-height: 1.8;
}

.about-btn {
    background-color: #ff6a00;
    color: #fff;
    padding: 14px 28px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.about-btn:hover {
    background-color: #e85f00;
    color: #fff;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.about-package {
    background-color: beige;
}

.card-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5); 
  color: white;
  padding-top: 26rem;
  padding-inline:  2rem;
}
.overlay-content h5 {
  font-size: 1.8rem;
  font-family: "Playfair", serif;
  font-weight: 600;
  
}
.overlay-content{
    
}

.overlay-content span {
 font-size: 1rem;

}
.card{
    border-radius: 3rem !important;
}

.Our-Team{
    background-color: rgba(255, 247, 236, 1);
}
.team-image{
    border-radius: 5rem;
}
.card-img-top {
  object-fit: cover;
  height: 100%;
  
 
}
.card-body h5 {
  font-size: 1.25rem;
}

